@using PROJEKAT_WEB1.Models

@{
    Layout = null;
    var getApartmani = new Func<Dictionary<string, Apartman>>(() => (Dictionary<string, Apartman>)Session["Apartmani"]);
}

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>


<body style="background-image:url(https://www.desktopbackground.org/download/o/2010/12/07/122515_burj-al-arab-hotel-in-dubai-hd-wallpapers_1920x1080_h.jpg); background-repeat: no-repeat; background-size: cover">
    <div class="w3-bar w3-border w3-transparent w3-border-black">
        <a href="/Apartman/GoToHomeAdmin" class="w3-bar-item w3-button w3-text-black">Povratak na pocetnu stranicu</a>
    </div>
    <br />
    <table border="1" style="background-color:transparent; margin-left:20px" class="w3-text-black w3-large">
        <tr>
            <th>
                Slika
            </th>
            <th>
                Adresa
            </th>
            <th>
                Domacin
            </th>
            <th>
                Cena nocenja
            </th>
            <th>
                Broj soba
            </th>
            <th>
                Broj gostiju
            </th>
            <th>
                Status
            </th>
        </tr>
        @foreach (KeyValuePair<string, Apartman> temp in (Dictionary<string, Apartman>)Session["Apartmani"])//(List<Apartman>)Session["Apartmani"])
        {

            <tr>
                <td>
                    <img width="140" height="90" src="@temp.Value.slike[0]" />
                </td>

                <td>
                    @temp.Value.lokacija.adresa.nazivMesta @temp.Value.lokacija.adresa.nazivUlice @temp.Value.lokacija.adresa.broj
                </td>
                <td>
                    @temp.Value.domacin.ime @temp.Value.domacin.prezime
                </td>
                <td>
                    @temp.Value.cenaNocenja
                </td>
                <td>
                    @temp.Value.brojSoba
                </td>
                <td>
                    @temp.Value.brojGostiju
                </td>
                <td>
                    @temp.Value.status.ToString()
                </td>
                <td>
                    <form action="/Apartman/GoToPrikaziApartmanAdmin" method="post">
                        <input type="hidden" value="@temp.Value.lokacija.adresa.nazivMesta @temp.Value.lokacija.adresa.nazivUlice @temp.Value.lokacija.adresa.broj" name="prikazi" />
                        <input type="submit" value="Prikazi" style="background-color:transparent; border:none" class="w3-text-black w3-hover-blue" />
                    </form>
                </td>
                <td>
                    <form action="/Apartman/GoToModifikujApartmanAdmin" method="post">
                        <input type="hidden" value="@temp.Value.lokacija.adresa.nazivMesta @temp.Value.lokacija.adresa.nazivUlice @temp.Value.lokacija.adresa.broj" name="modifikuj" />
                        <input type="submit" value="Modifikuj" style="background-color:transparent; border:none" class="w3-text-black w3-hover-blue" />
                    </form>
                </td>
                <td>
                    <form action="/Apartman/ObrisiApartmanAdmin" method="post">
                        <input type="hidden" value="@temp.Value.lokacija.adresa.nazivMesta @temp.Value.lokacija.adresa.nazivUlice @temp.Value.lokacija.adresa.broj" name="obrisi" />
                        <input type="submit" value="Obrisi" style="background-color:transparent; border:none" class="w3-text-black w3-hover-blue" />
                    </form>
                </td>
            </tr>
        }
    </table>
</body>